@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: rgb(234, 231, 231);
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  text-align: left;
  background-color: black;
}

input {
  font-size: larger;
  background: transparent;
  color: rgb(0, 0, 0);
}
h1{
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

td {
  padding: 35px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.moviePoster {
  width: 200px;
  height: auto;
  border-radius: 3px;
  transition: 0.4s;
}
.moviePoster:hover{
  width: 210px;
  box-shadow:rgb(255, 255, 255) 1px 1px 10px;
}

ul {
  list-style: none;
}

