@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: rgb(227, 224, 224);
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  text-align: left;
  background-color: black;
}

input {
  font-size: larger;
  background: transparent;
  color: rgb(0, 0, 0);
}
h1{
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
}

td {
  height: min-content;
  margin: 15px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.moviePoster {
  width: 200px;
  height: auto;
  border-radius: 3px;
  transition: 0.4s;
}

tr:hover {
  border-radius: 3px;
  background: rgb(164, 227, 164);
}

ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

